<div class="container my-5">
  <h1 class="mb-4">コミュニティ管理一覧</h1>
  <hr>

  <% if @communities.present? %>
    <table class="table table-hover table-striped text-center">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>コミュニティ名</th>
          <th>オーナー名</th>
          <th>メンバー数</th>
          <th>ステータス</th>
          <th>詳細</th>
        </tr>
      </thead>
      <tbody>
        <% @communities.each do |community| %>
          <tr>
            <td><%= community.id %></td>
            <td><%= community.name %></td>
            <%# owner_id が user_id への FK と仮定 %>
            <td><%= community.owner.name rescue '---' %></td> 
            <%# community_members のアソシエーションがあると仮定 %>
            <td><%= community.community_members.count rescue 'N/A' %></td> 
            <td>
              <% if community.is_active %>
                <span class="badge badge-success">有効</span>
              <% else %>
                <span class="badge badge-danger">停止中</span>
              <% end %>
            </td>
            <td><%= link_to "詳細", admin_community_path(community), class: "btn btn-sm btn-info" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%# ページネーション %>
    <div class="d-flex justify-content-center">
      <%= paginate @communities %>
    </div>

  <% else %>
    <%# コミュニティが1件も存在しない場合に表示されるメッセージ %>
    <div class="alert alert-info text-center" role="alert">
      <strong>現在、作成されたコミュニティはありません。</strong>
      <p class="mt-2 mb-0">新しいコミュニティが投稿されるまでお待ちください。</p>
    </div>
  <% end %>

</div>