<h2>コメント履歴</h2>

<% if @comments.any? %>
  <% @comments.each do |comment| %>
    <div class="comment-item">
      <p>
        <strong>対象投稿：</strong>
        <%= link_to comment.post.title, post_path(comment.post) %>
      </p>
      <p><%= comment.body %></p>
      <p class="comment-date"><%= l comment.created_at, format: :short %></p>
      <hr>
    </div>
  <% end %>

  <%= paginate @comments %>
<% else %>
  <p>まだコメントがありません。</p>
<% end %>

<div class="d-flex justify-content-center mt-4">
  <%= link_to "マイページへ戻る", mypage_path, class: "btn btn-secondary px-4" %>
</div>