<header>
  <nav class="navbar navbar-dark bg-dark sticky-top">
    <div class="container">

      <%= link_to root_path, class: "navbar-brand text-white" do %>
        <i class="fa-solid fa-motorcycle mr-1"></i><strong>Toulink</strong>
      <% end %>

      <% if user_signed_in? %>
        <span class="navbar-text ml-auto mr-3">
          <small>ユーザー名：<%= current_user.name %></small>
        </span>
      <% end %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <% if admin_signed_in? %>
            <li class="nav-item">
              <s><a href="#" class="nav-link text-white">ダッシュボード</a></s>
            </li>
            <li class="nav-item">
              <s><a href="#" class="nav-link text-white">会員管理</a></s>
            </li>
            <li class="nav-item">
              <s><a href="#" class="nav-link text-white">投稿管理</a></s>
            </li>
            <li class="nav-item">
              <s><a href="#" class="nav-link text-white">コメント管理</a></s>
            </li>
            <li class="nav-item">
              <s><a href="#" class="nav-link text-white">コミュニティ管理</a></s>
            </li>
            <li class="nav-item">
              <s><a href="#" class="nav-link text-white">タグ管理</a></s>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link text-white" %>
            </li>

          <% elsif user_signed_in? %>
            <li class="nav-item">
              <%= link_to "マイページ", mypage_path, class: "nav-link text-white" %>
            </li>
            <li class="nav-item">
              <%= link_to "会員一覧", users_path, class: "nav-link text-white" %>
            </li>
            <li class="nav-item">
              <%= link_to "投稿一覧", posts_path, class: "nav-link text-white" %>
            </li>
            <li class="nav-item">
              <%= link_to "コミュニティ", communities_path, class: "nav-link text-white" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-white" %>
            </li>

          <% else %>
            <li class="nav-item">
              <%= link_to "投稿一覧", posts_path, class: "nav-link text-white" %>
            </li>
            <li class="nav-item">
              <%= link_to "コミュニティ", communities_path, class: "nav-link text-white" %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: "nav-link text-white" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: "nav-link text-white" %>
            </li>
          <% end %>
        </ul>

        <hr class="border-secondary my-3">

        <% search_options = { "投稿検索" => "post", "タグ検索" => "tag" } %>
        <%= form_with url: posts_path, method: :get, local: true, class: "form-inline ml-2" do |f| %>
          <%= select_tag :search_type, options_for_select(search_options, params[:search_type]), class: "form-control mr-2" %>
          <%= f.search_field :query, placeholder: "検索内容を入力", class: "form-control mr-2" %>
          <%= f.submit "検索", class: "btn btn-outline-light my-2" %>
        <% end %>
      </div>
    </div>
  </nav>
</header>