<header>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">

      <%# 管理者ログイン中かどうかでロゴのリンク先を変更 %>
      <% if admin_signed_in? %>
        <%= link_to admin_root_path, class: "navbar-brand text-white" do %>
          <i class="fa-solid fa-motorcycle fa-2x"></i><strong class="h1">Toulink</strong>
        <% end %>
      <% else %>
        <%= link_to root_path, class: "navbar-brand text-white" do %>
          <i class="fa-solid fa-motorcycle fa-2x"></i><strong class="h1">Toulink</strong>
        <% end %>
      <% end %>

      <%# ユーザーがログインしていれば名前を表示 %>
      <% if user_signed_in? %>
        <span class="navbar-text ml-3 d-none d-lg-block">
          ユーザー名：<%= current_user.name %>
        </span>
      <% elsif admin_signed_in? %>
        <span class="navbar-text ml-3 d-none d-lg-block">
          ユーザー名：管理者アカウント
        </span>
      <% end %>

      <div class="ml-auto d-flex flex-column align-items-end">

        <div class="order-1 my-2">
          <%# 検索フォーム %>
          <%= render "shared/search_form", form_class: "form-inline ml-2 d-none d-md-block" %>
        </div>

        <div class="order-2 d-flex align-items-center">
          <%# ログイン状態によるサインイン関連のリンク %>
          <div class="navbar-nav d-flex flex-row my-auto">
            <% if admin_signed_in? %>
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-danger text-white mr-4 d-none d-md-block" %>
            <% elsif user_signed_in? %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-danger text-white mr-4 d-none d-md-block" %>
            <% else %>
                <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary text-white mr-3 d-none d-md-block" %>
                <%= link_to "ログイン", new_user_session_path, class: "btn btn-success text-white mr-4 d-none d-md-block" %>
            <% end %>
          </div>

          <%# スマホ表示時のハンバーガーメニュー %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto text-center">

          <%# --- 管理者ログイン時のメニュー --- %>
          <% if admin_signed_in? %>
            <div class="col-6 border-top border-bottom border-white mx-auto my-4">
              <li class="nav-item">
                <%= link_to "ダッシュボード", admin_root_path, class: "nav-link text-white" %>
              </li>
              <li class="nav-item">
                <%= link_to "会員管理", admin_users_path, class: "nav-link text-white" %>
              </li>
              <li class="nav-item">
                <%= link_to "投稿管理", admin_posts_path, class: "nav-link text-white" %>
              </li>
              <li class="nav-item">
                <%= link_to "コメント管理", admin_comments_path, class: "nav-link text-white" %>
              </li>
              <li class="nav-item">
                <%= link_to "コミュニティ管理", admin_communities_path, class: "nav-link text-white" %>
              </li>
              <li class="nav-item">
                <%= link_to "イベント管理", admin_events_path, class: "nav-link text-white" %>
              </li>
              <%# タグ管理を実装予定 %>
              <li class="nav-item">
                <%#= link_to "タグ管理", admin_tags_path, class: "nav-link text-white" %>
              </li>
            </div>
            <div class="d-flex justify-content-center">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-danger w-25 mt-2 text-white d-md-none" %>
            </div>

          <%# --- 一般ユーザーログイン時 --- %>
          <% elsif user_signed_in? %>
            <div class="mx-auto mt-2">
              <span class="navbar-text ml-3 d-lg-none">
                ユーザー名：<%= current_user.name %>
              </span>
            </div>
            <div class="col-6 border-top border-bottom border-white mx-auto my-4">
              <li class="nav-item">
                <%= link_to "マイページ", mypage_path, class: "nav-link text-white" %>
              </li>
              <li class="nav-item">
                <%= link_to "会員一覧", users_path, class: "nav-link text-white" %>
              </li>
              <li class="nav-item">
                <%= link_to "投稿一覧", posts_path, class: "nav-link text-white" %>
              </li>
              <li class="nav-item">
                <%= link_to "コミュニティ", communities_path, class: "nav-link text-white" %>
              </li>
            </div>
            <div class="d-flex justify-content-center">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-danger w-25 mt-2 text-white d-md-none" %>
            </div>
            <%# 検索フォーム %>
            <%= render "shared/search_form", form_class: "form-inline d-flex justify-content-center mt-3 d-md-none" %>

          <%# --- 未ログイン時のメニュー --- %>
          <% else %>
            <div class="col-6 border-top border-bottom border-white mx-auto my-4">
              <li class="nav-item">
                <%= link_to "投稿一覧", posts_path, class: "nav-link text-white" %>
              </li>
              <li class="nav-item">
                <%= link_to "コミュニティ", communities_path, class: "nav-link text-white" %>
              </li>
            </div>
            <div class="d-flex justify-content-center mt-2">
              <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary w-25 mr-4 text-white d-md-none" %>
              <%= link_to "ログイン", new_user_session_path, class: "btn btn-success w-25 text-white d-md-none" %>
            </div>
            <%# 検索フォーム %>
            <%= render "shared/search_form", form_class: "form-inline d-flex justify-content-center mt-3 d-md-none" %>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>